@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
*{
  margin:0;
  padding:0;
}
html,
body{
   height: 100%;
   scroll-behavior: smooth;
   background: #f7f5f2;
   color: #666;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}
h2{
  line-height: 1.25;
  padding-top: 45px;
  font-weight: 300;
}
svg{
  padding: 20px;
}
text{
  font-size: 10px;
}
strong{
  font-weight: 600;
}
#graphic {
  max-width:  1440px;
  width: 100%;
  position:   relative; 
  height:  100%;
  position:  relative; 
  padding-top: 112px;
  margin-top: 4px;
}
.container {
  height: 100%;
  max-width: 440px;
  width: 100%;
  position: absolute;
  height: 100%;
  line-height: 1.5;
  left: 700px;

}
.container div {
  height: 100%;
  display: block;
}
.fixed {
  position: fixed;
  max-width: 500px;
  height: 500px;
  top: 50px;
}

/* Style the header */
.header {
  padding: 10px 10px;
  color: #394147;
  z-index:1000;
  font-family: 'Merriweather';
  font-size: 2em;
  background: #f7f5f2;
  border-bottom: 1px solid #e2e2e2;

}

/* Page content */
.content {

}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.centered {
  text-align: center;
}
